{
    "extends": "react-app",
    "plugins": ["prettier","react-hooks"],
    "rules": {
        "prettier/prettier": "error",
        "no-unused-vars": "error",
        "eqeqeq": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    }
}
